<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container my-2">
        <h1>Leave a Reply</h1>
        <p>Your email address will not be published. Required fields are marked *</p>
        <div class="row mt-4">
            <div class="col-md-9">
                <form class=" reply-form ">
                    <div class="commentBox">
                        <ul class="list-unstyled">
                            <li><span class="profileBox">M</span> <span class="profileText">Your email address will not be published.</span></li>
                            <li><span class="profileText">Your email address will not be published. Your email address will not be published. Required fields are marked </span> <span class="profileBox">L</span> </li>
                            <li> <span class="profileBox">M</span> <span class="profileText">Your email address will not be published. Required fields are marked </span> </li>
                        </ul>
                    </div>
                    <div id="div_id_username" class="form-group required">
                        <div class="controls form-group d-flex w-100 ">
                            <input class="input-md  textinput textInput form-control" id="id_username" placeholder="Write your review" type="text" />
                            <button type="submit" class="btn btn-info border-radius-0  m-0 w-25">POST</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <h4><i class="fa fa-ticket" aria-hidden="true"></i> Ticket Information</h4>
                    <ul class="list-unstyled">
                        <li>
                            <p>Your email address will not be published</p>
                            <span class="badge badge-warning">Warning</span>
                        </li>
                        <li>
                            <strong>Department</strong>
                            <p>Support</p>
                        </li>
                        <li>
                            <strong>Submitted</strong>
                            <p>7th August 2020 (05:19 PM)</p>
                        </li>
                        <li>
                            <strong>Last Updated</strong>
                            <p>2 Weeks ago</p>
                        </li>
                        <li>
                            <strong>Priority</strong>
                            <p>High</p>
                        </li>
                    </ul>
                    <div class="row m-0 mb-4">
                        <div class="col">
                            <a class="btn btn-success w-100" href="#" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> Reply</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-danger w-100" href="#" role="button"><i class="fa fa-times" aria-hidden="true"></i> Closed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>