<form class="row g-3">

  <div class="col-md-6">
    <label for="inputState" class="form-label">Usuario</label>
    <select id="inputState" class="form-select">
      <option selected>Elige...</option>
      <option>...</option>
    </select>
  </div>

    <div class="col-md-6">  
      <label for="inputEmail" class="form-label">Matricula</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>

    <div class="col-md-6">
      <label for="inputname" class="form-label">Nombre</label>
      <input type="nombre" class="form-control" id="inputnombre">
    </div>

    <div class="col-md-6">
      <label for="inputname" class="form-label">Ap.Paterno</label>
      <input type="nombre" class="form-control" id="inputnombre">
    </div>

    <div class="col-md-6">
      <label for="inputname" class="form-label">Ap.Materno</label>
      <input type="nombre" class="form-control" id="inputnombre">
    </div>

    <div class="col-md-6">
      <label for="inputname" class="form-label">Cargo</label>
      <input type="nombre" class="form-control" id="inputnombre">
    </div>

    <div class="col-md-6">
      <label for="inputname" class="form-label">Carrera</label>
      <input type="nombre" class="form-control" id="inputnombre">
    </div>

   <div class="col-md-6">
      <label for="inputmatricula" class="form-label">email</label>
      <input type="matricula" class="form-control" id="inputmatricula">
    </div>
  
    <div class="col-md-6">  
        <label for="inputphone" class="form-label">Folio</label>
        <input type="phone" class="form-control" id="inputphone">
      </div>
  <div class="col-md-6">  
        <label for="inputfolio" class="form-label">Telefono</label>
        <input type="folio" class="form-control" id="inputfolio">
      </div>

    <div class="col-md-6">
      <label for="inputCity" class="form-label">Ciudad</label>
      <input type="city" class="form-control" id="inputCity">
    </div>

    <div class="col-md-6">
      <label for="inputState" class="form-label">Estado</label>
      <select id="inputState" class="form-select">
        <option selected>Elige...</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-md-2">
      <label for="inputcp" class="form-label">Codigo postal</label>
      <input type="text" class="form-control" id="inputcp">
    </div>

    <div class="col-md-6">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion del problema</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
