<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="center-block w-1500" src="https://img.freepik.com/vector-gratis/atencion-al-cliente-ilustracion-diseno-plano_23-2148887720.jpg?w=2000" alt="Solvetic" height=860px>
      </div>
    </div>
  </div>